<footer class="bg-dark pt-5">
	<div class="container">		
		<div class="row g-4">
			<div class="col-12 col-lg-3">
				<img src="images/logo.svg" class="footer-brand-item mb-6" alt="logo">
				<p class="text-primary-hover mb-0"><a href="#" class="text-white"><i class="bi bi-telephone-plus me-2"></i>+61 403 349 647</a></p>
				<p class="text-primary-hover mb-0">Bear Entrepreneurial Group Pty</p>
				<p class="text-primary-hover mb-0">Ltd trading as ThorApps</p>
				<p class="text-primary-hover">ABN 40 156 405 275</p>				

			</div>
			<div class="col-6 col-md-3 col-lg-6  fa-pull-right">
				<h6 class="mb-4 text-white  fa-pull-right">Follow us</h6>
				<ul class="list-inline mb-0">
					<li class="list-inline-item fa-pull-right">
						<a href="#" class="btn btn-white btn-round mb-2"><i class="fab fa-fw fa-twitter"></i></a>
					</li>
					<li class="list-inline-item fa-pull-right">
						<a href="#" class="btn btn-white btn-round mb-2"><i class="fab fa-instagram"></i></a>
					</li>
					<li class="list-inline-item fa-pull-right">
						<a href="#" class="btn btn-white btn-round mb-2"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li class="list-inline-item fa-pull-right">
						<a href="#" class="btn btn-white btn-round mb-2"><i class="fab fa-fw fa-linkedin-in"></i></a>
					</li>						
				</ul>										
			</div>
		</div>
		<hr class="mt-4 mb-0"> 
		<div class="row justify-content-md-between align-items-center py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start text-primary-hover text-white ">&copy;@DateTime.Now.Year 
					<a href="https://www.thorapps.com/" class="text-reset btn-link" target="_blank">Thor Apps</a>. All rights reserved
				</div>
			</div>
			
			<div class="col-md-6  fa-pull-right">
				<ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" href="#">Privacy Policy</a></li>
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" href="#">Returns Policy</a></li>
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" href="#">Terms & Conditions</a></li>
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" href="#">End User Licence Agreement</a></li>
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" href="#">Shipping and Delivery</a></li>
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" href="#">Terms of Service</a></li>
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" href="#">Service Level Agreement</a></li>
				</ul>          
			</div>
		</div>   

	</div>
</footer>
@code {

}
