@inherits LayoutComponentBase
<Header/>
<main>
    @Body
    <section>
	<div class="container">

		<div class="row align-items-center">      
			<div class="col-12">
				<div class="tiny-slider">
					<div class="tiny-slider-inner" data-arrow="false" data-autoplay="true" data-edge="2" data-dots="false"
						data-gutter="80" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-sm="3" data-items-xs="2">
						<div > <img src="images/Bupa_edited.webp" class="grayscale img-fluid" alt=""> </div>
						<div > <img src="images/DHS_edited_edited.webp" class="grayscale " alt=""> </div>
						<div > <img src="images/Electranet-1_edited.webp" class="grayscale " alt=""> </div>
						<div > <img src="images/GoldCoast_edited.webp" class="grayscale " alt=""> </div>
						<div > <img src="images/HAMBS_edited.webp" class="grayscale " alt=""> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</main>
<Footer/>
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

