<div class="text-white">
    <div class="row">
        <p class="d-flex align-content-center"><h5>LET'S DO IT!</h5></p>
        To start trialing ListSync, please note the following:<br />
        <ul>
            <li>Purchasing a plan is managed inside our app.</li>
            <li>You will need to install our app first, try it out and then select a plan.</li>
            <li>The download button below will provide a PDF guide to installing our app onto your SharePoint environment.</li>
        </ul><br />
        If you have any question, please contact us on info@thorapps.com<br />
    </div>
    <div class="row g-4 d-flex align-content-center">
        <a class="btn btn-outline-secondary text-white" href="https://listsync.thorapps.com/Help/ThorApps%20ListSync%20Service%20Installation%20Guide.pdf" target="_blank">DOWNLOAD</a>
    </div>
</div>