<section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0">
    <div class="container pb-2">

        <div class="row">
            <div class="col-lg-12 text-center text-md-start mb-5 mb-lg-0">
                <h2 class="text-color-dark font-weight-normal text-6 mb-2">About <strong class="font-weight-extra-bold">Our Clients</strong></h2>
                <div class="row justify-content-center my-5">
                    <div class="col-8 text-center col-md-4">
                        <img src="img/clients/Bupa_edited.png" class="img-fluid hover-effect-3" alt="" />
                    </div>
                    <div class="col-8 text-center col-md-3 my-3 my-md-0">
                        <img src="img/clients/DHS_edited_edited.png" class="img-fluid hover-effect-3" alt="" />
                    </div>
                    <div class="col-8 text-center col-md-3">
                        <img src="img/clients/Electranet-1_edited.png" class="img-fluid hover-effect-3" alt="" />
                    </div>
                    <div class="col-8 text-center col-md-3">
                        <img src="img/clients/GoldCoast_edited.png" class="img-fluid hover-effect-3" alt="" />
                    </div>
                    <div class="col-8 text-center col-md-3">
                        <img src="img/clients/HAMBS_edited.png" class="img-fluid hover-effect-3" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>