
<section class="section bg-color-light border-0 m-0">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                <div class="card">
                    <img class="card-img-top" src="img/dashboard.jpg" alt="Card Image">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Real-time collaboration for BI reports in SharePoint Online</h4>
                        <p class="card-text mb-2 pb-1">Get immediate access to your data from different sources using SQL Server Reporting in a format that works for you. Create, export and schedule stunning dashboards and get actionable insights at your fingertips. </p>
                        <a href="/" class="btn btn-primary">BI Service <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
                <div class="card">
                    <img class="card-img-top" src="img/sharepoint.jpg" alt="Card Image">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Replicate your list items to SQL in real-time in SharePoint Online</h4>
                        <p class="card-text mb-2 pb-1">Gain immediate access to all of your SharePoint lists in one place. With data collated and stored in SQL, you’ll be running reports in a fraction of the time. </p>
                        <a href="/" class="btn btn-primary">List Sync <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                <div class="card">
                    <img class="card-img-top" src="img/projectManagement.jpg" alt="Card Image">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Access all your entities across Project Online</h4>
                        <p class="card-text mb-2 pb-1">Compile a complete picture of your project replicating project entities into SQL database in just a fraction of the time. Be ready for your next meeting, armed with immediate access to accurate data.</p>
                        <a href="/" class="btn btn-primary">Project Sync <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
