<section class="section bg-color-light border-0 m-0">

    <div id="examples" class="container py-2">
        <hr class="solid my-5">

        <h4>WHAT PEOPLE SAY</h4>

        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'autoplay': true, 'autoplayTimeout': 5000}">
                    <div>
                        <div class="testimonial testimonial-style-2">
                            <blockquote>
                                <p class="mb-0">“ThorApps products have consistently delighted our customers; simplicity in design, installation, and configuration belies the powerful nature of the apps and their overwhelming positive impact for the business.”</p>
                            </blockquote>
                            <div class="testimonial-arrow-down"></div>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold">Laith Adel</strong><span>EPM Partners</span></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2">
                            <blockquote>
                                <p class="mb-0">
                                    "Easy to use.Top customer support. Improving quickly."
                                </p>
                            </blockquote>
                            <div class="testimonial-arrow-down"></div>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold">Ali Sabouri</strong><span>IMPAQ International, LLC</span></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2">
                            <blockquote>
                                <p class="mb-0">
                                    "Great App! Easy to use and super user friendly for admins."
                                </p>
                            </blockquote>
                            <div class="testimonial-arrow-down"></div>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold">Mariano M.</strong><span>Boston Scientific</span></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2">
                            <blockquote>
                                <p class="mb-0">
                                    “Reflex Reporting from ThorApps has enabled us to provide our customers with reliable and fast reports in a fraction of the time it used to take.”
                                </p>
                            </blockquote>
                            <div class="testimonial-arrow-down"></div>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold">Laith Adel</strong><span>EPM Partners</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="solid my-5">
    </div>

</section>



@code {

}
