@page "/aboutUs"

<section class="py-7 position-relative" style="background-image: url(images/thorbackground.webp); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center z-index-9">
                <h2 class="text-white">ABOUT US</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-white mb-0 py-0">
                        <li class="breadcrumb-item text-primary-hover">We are streamlining the way insight-driven companies experience SharePoint and other Microsoft products by making enterprise-level data easy for everyone, at any time.</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container position-relative">
    <div class="row g-7">
        <div class="col-md-6">
            <img src="images/abtUs.webp" />
        </div>
        <div class="col-md-6">
            <br />
            <h6>We offer powerful analytics software developed over more than a decade, which can integrate, migrate and consolidate existing data from different systems, to automated dashboards and reports, with just a few clicks.</h6>
            <h6>By concentrating companies data in a single secure place, we give executives from all departments the ability to measure what they have to manage. From HR to IT and sales, we deliver actionable insights to C-level fingertips.</h6>
            <h6>Proudly based in South Australia, we offer our services globally supporting Enterprise and SMB businesses from end-to-end, across several industries. ​</h6>
            <h6>ThorApps is a Certified Microsoft Partner and part of Bear Entrepreneurial Group.</h6>
            <div class="row">
                <div class="col-md-6">
                    <img src="images/microsoftPartner.webp" />
                </div>
                <div class="col-md-6">
                    <img src="images/BEG_Logo_1.webp" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
