@page "/biservicesharepoint"

<section class="py-7 position-relative" style="background-image: url(images/thorbackground.webp); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center z-index-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html" class="text-white text-primary-hover">BI SERVICE FOR SHAREPOINT ONLINE</a></li>
                    </ol>
                </nav>
                <h1 class="text-white">REAL-TIME COLLABORATION FOR DATA-DRIVEN DECISIONS</h1>
                <p class="text-white"><small>*NO CREDIT CARD REQUIRED</small></p>
                <Navigate Href="/biservicesharepoint/#contactFrag" Class="btn btn-primary">START FREE</Navigate>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary">
    <div class="container position-relative">
        <div class="row text-white">
            <div class="col-md-12">
                <p>
                    <h6>
                        Create, export and schedule stunning real-time dashboards to make informed decisions. Choose to leverage your existing investments in Power BI or simply make the most of it as a stand-alone app.
                    </h6>
                </p>
            </div>
            <div class="col-md-6 bi-border-right">
                <img src="images/microsoftPartner.webp" />
            </div>
            <div class="col-md-6">
                <p>
                    By being a Certified Microsoft Partner we have access to the latest training, resources and dedicated support. This means we are always up-to-date on the latest features, releases and early product information to provide our clients a robust, seamless SharePoint experience.
                </p>
                <p>
                    <a href="https://appsource.microsoft.com/en-us/product/office/WA104381900?tab=Overview"  class="text-white" target="_blank">Check this app on Microsoft App Store>></a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary">
    <div class="container position-relative">

        <div class="row g-4">
            <div class="col-md-6 col-xl-4 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-bar-chart"></i>
                    </div>
                    <h6 class="mb-3">Create insightful real-time dashboards</h6>
                    <p class="card-text">
                        Present stunning dashboards to your SharePoint users by configuring your pages with the Report Viewer web part and allow them to collaborate with accurate data. The SharePoint page dashboards can even be rendered via your mobile browser, so you can query on the go.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 d-flex align-items-stretch">
                <div class="card card-body shadow  rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-calendar"></i>
                    </div>
                    <h6 class="mb-3">Export, schedule and distribute reports at the right time</h6>
                    <p class="card-text">Save your reports to a variety of formats, including Word, Excel, PDF, PowerPoint and more. With scheduled delivery, you can have your most important reports emailed to you, or published to a document library for re-distribution.</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-folder"></i>
                    </div>
                    <h6 class="mb-3">Migrate data with fully compatible features</h6>
                    <p class="card-text">Compatible with Microsoft SSRS 2008R2 or higher, which enables you to easily migrate your existing reports. fully compatible when migrating to Microsoft's Power BI Report Server, in case you choose to move away from BI Service in the future. </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-mailbox"></i>
                    </div>
                    <h6 class="mb-3">Personalize with context sensitive content</h6>
                    <p class="card-text">
                        Reports and dashboards can automatically filter content based on who the current users is or where the report is accessed from in SharePoint.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 d-flex align-items-stretch">
                <div class="card card-body shadow  rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-bar-chart-steps"></i>
                    </div>
                    <h6 class="mb-3">Enhance Power BI</h6>
                    <p class="card-text">If you already use the free version of Power BI but feel limited on sharing reports, BI Service allows you to collaborate in real-time and enables any user to consume BI content for only a fraction of the price.</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-chat"></i>
                    </div>
                    <h6 class="mb-3">Control your data sovereignty</h6>
                    <p class="card-text">Allows you to manage permissions in SharePoint and have the flexibility to choose where your data and report server's reside.</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-bar-chart-fill"></i>
                    </div>
                    <h6 class="mb-3">Automate with data driven subscriptions</h6>
                    <p class="card-text">With data driven subscriptions you can publish or distribute a report  with content customized based on any information you want. Who the recipient is, what the date is, and more.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container position-relative">
        <div class="row g-4">
            <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src="https://www.youtube.com/embed/MaOpvkzh_S4?autoplay=1&origin=https://thorapps.com"
                    frameborder="0"></iframe>
        </div>
    </div>
    <div class="row g-4">
        <a href="https://www.capterra.com/p/189352/ProjectSync/#about"><img src="images/capterra.webp" class="img-thumbnail mx-auto d-block" /></a>
    </div>
</section>
<section class="bg-secondary-soft">
    <div class="container">
        <div class="row g-4 d-flex align-content-center">
            <h4 class=text-center>WHY BI SERVICE?</h4>
            <p>
                <h6 class="text-center">Forget long-term implementation and complex billing models. We have 6 compelling reasons why you should rely on BI Service:</h6>
            </p>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>1. Increase productivity with no user re-training</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        By migrating from SSRS and SharePoint on-premise to BI Service and SharePoint Online, you keep a consistent look and feel and feature set. You won't need to spend hours retraining users on different tools or features.
                    </p>
                </div>
            </div>



            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>2. Save money with no license management</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        BI Service is billed on a consumption model, like a mobile phone plan. There are no user licenses to manage or pay for individually. To know more about our billing model and plans, click <a href="/pricing">here</a>.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>3.Create as many environments as you need</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        BI Service allows you to create any number of separate environments. This gives you the benefit of following Dev, Test, Production release management processes but also to separate departments from each other (i.e. Sales, Operations, Admin).
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>4.Retain your investment in SSRS reports</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        By using BI Service, you retain the investment you've already made in SSRS reports. You don't have to re-invent the wheel and create all new reports.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>5. Access data from anywhere, anytime</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        When choosing for ThorApps to host your reports, you can fully and securely rely on a cloud service, accessible anywhere in the world, from any device.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>6. Test for free in your own environment</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        Trialing BI Service for free lets you ensure it meets your specific requirements, using your own data. In addition, the account management features within the app let you track your usage as you go.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container position-relative">
        <h4 class="text-primary text-center">HOW DOES IT WORK?</h4>
        <h6 class="text-center">
            ThorApps offers its own SSRS farms, which is a secured space to store your data.
        </h6>
        <img src="images/BIService.webp" />
    </div>
</section>
<section id="contactFrag" class="bg-primary text-white">
    <div class="container position-relative">
         <div class="row g-4">
             <h6 class="col-md-12">Get started today! No credit card required.</h6>
             <h4 class="col-md-12">Request your 30-day trial and get $50 credit to test BI Service in your own SharePoint environment</h4>
             <p>Upon submitting this form, you will be provided with the installation instructions for BI Service. These instructions will lead you through adding the app to your SharePoint site and provide further links to related documentation.</p>
             <ContactDetail Product="Online apps-BI Service" ButtonTitle="START TRIAL"/>
         </div>
    </div>
</section>
@code {

}
