<section class="py-7">
    <div class="container position-relative">
        <div class="row g-4">
            <div class="row d-flex align-items-stretch">
                <div>
                    <div class="tiny-slider arrow-gray arrow-round arrow-hover">
                        <div class="tiny-slider-inner py-7" data-autoplay="true" data-edge="20" data-arrow="true" data-dots="false" data-items-xl="1" data-items-md="1" data-items-sm="1">
                            <div>
                                <div class="card">
                                    <div class="row g-0 d-flex align-content-stretch">
                                        <div class="col-lg-4">
                                            <img src="images/education.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body bg-secondary text-white">
                                                <div class="col-md-12">
                                                    <small class="text-center">CASE STUDIES</small>
                                                </div>
                                                <h6 class="text-center">EDUCATION</h6>
                                                <p>Get to know how companies from this industry are increasing their productivity with ListSync</p>
                                                <a href="/casestudies" class="btn btn-outline-primary">LEARN MORE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="card">
                                    <div class="row g-0 d-flex align-content-stretch">
                                        <div class="col-lg-4">
                                            <img src="images/finance.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body bg-secondary text-white">
                                                <div class="col-md-12">
                                                    <small class="text-center">CASE STUDIES</small>
                                                </div>
                                                <h6 class="text-center">FINANCE</h6>
                                                <p>Get to know how companies from this industry are increasing their productivity with ListSync</p>
                                                <a href="/casestudies" class="btn btn-outline-primary">LEARN MORE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div>
                                <div class="card">
                                    <div class="row g-0 d-flex align-content-stretch">
                                        <div class="col-lg-4">
                                            <img src="images/utilities.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body bg-secondary text-white">
                                                <div class="col-md-12">
                                                    <small class="text-center">CASE STUDIES</small>
                                                </div>
                                                <h6 class="text-center">UTILITIES</h6>
                                                <p>Get to know how companies from this industry are increasing their productivity with ListSync</p>
                                                <a href="/casestudies" class="btn btn-outline-primary">LEARN MORE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="card">
                                    <div class="row g-0 d-flex align-content-stretch">
                                        <div class="col-lg-4">
                                            <img src="images/mining.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body bg-secondary text-white">
                                                <div class="col-md-12">
                                                    <small class="text-center">CASE STUDIES</small>
                                                </div>
                                                <h6 class="text-center">MINING</h6>
                                                <p>Get to know how companies from this industry are increasing their productivity with ListSync</p>
                                                <a href="/casestudies" class="btn btn-outline-primary">LEARN MORE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row g-4">
    <a href="https://www.capterra.com/p/189352/ProjectSync/#about" target="_blank"><img src="images/capterra.webp" class="img-thumbnail mx-auto d-block" /></a>
</div>