@page "/caseStudies"
<section class="py-7 position-relative" style="background-image: url(images/thorbackground.webp); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto text-center z-index-9">
                <h2 class="text-white">CASE STUDIES</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-white mb-0 py-0">
                        <li class="breadcrumb-item text-primary-hover">Get to know how companies from several industries are increasing their productivity with our apps</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-education" data-bs-toggle="tab" data-bs-target="#education" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><h6>Education</h6></button>
                    <button class="nav-link" id="nav-health" data-bs-toggle="tab" data-bs-target="#health" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><h6>Health</h6></button>
                    <button class="nav-link" id="nav-utilities" data-bs-toggle="tab" data-bs-target="#utilities" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><h6>Utilities</h6></button>
                    <button class="nav-link" id="nav-government" data-bs-toggle="tab" data-bs-target="#government" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><h6>Government</h6></button>
                    <button class="nav-link" id="nav-finance" data-bs-toggle="tab" data-bs-target="#finance" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><h6>Finance</h6></button>
                    <button class="nav-link" id="nav-mining" data-bs-toggle="tab" data-bs-target="#mining" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><h6>Mining</h6></button>
                </div>
            </nav>
            <div class="tab-content border-primary" id="nav-tabContent">
                <div class="tab-pane fade show active" id="education" role="tabpanel" aria-labelledby="nav-education">
                    <h2><strong>Education</strong></h2>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                <img src="images/education.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5>CHALLENGE</h5>
                                    <p>Our client in the education sector had been tracking absences by school in SharePoint Online. The list has several lookup fields for other related information. The information needs to be reported upon and charts created to show performance against targets.</p>
                                    <h5>SOLUTION</h5>
                                    <p>After close consultation with the client we implemented ThorApps Online Services, making use of the <a href="/biservicesharepoint">BI Service</a> we were able to create an automated multi-page report with charts detailing performance against target.</p>
                                    <h5>RESULT</h5>
                                    <p>The client was able to get automated reports to ensure that absence was effectively tracked and reported to ensure that targets were met or exceeded.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="health" role="tabpanel" aria-labelledby="nav-health">
                    <h2><strong>Health</strong></h2>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                <img src="images/health.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                    <p class="card-text mb-2">Our client working in the health sector, Sandra was responsible for approving timesheets each week, but had the unenviable task of having to chase up staff who needed constant reminding to submit their documentation. She wanted to find a way she could avoid having to personally phone each one of them individually.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                    <p class="card-text mb-2">When we met with Sandra, it didn’t take long to see just how time consuming this process had become. We used the <a href="/biservicesharepoint">BI Service</a> subscription features and created the “hasslebot”, the hassle you have when you’re not having to hassle.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                    <p class="card-text mb-2">A clever report now runs behind the scenes without Sandra having to lift a finger. This then runs an email every Monday morning at 10am to ONLY the staff that have not submitted their timesheet. Not only did this take only 15 minutes to setup, the best part is that 95% of the company’s timesheets are now being submitted on time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="utilities" role="tabpanel" aria-labelledby="nav-utilities">
                    <h2><strong>Utilities</strong></h2>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                <img src="images/utilities.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                    <p class="card-text mb-2">Sam is a project manager working in utilities, using Project Online. He runs daily project status meetings and had to manually collate information from project schedules and lists in project workspace sites. This was taking Sam an inordinate amount of time, and even with all that effort, he could only ever see day old information.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                    <p class="card-text mb-2">We created Sam a single status report for each project that was updated to the minute, so he could focus on problem areas. Using <a href="/biservicesharepoint">BI Service</a> and <a href="/projectsynconline">Project Sync Service</a>, we created a PoP report (Project on a Page). His Issue, Risk and Change Request information became available immediately and Project Schedule information a few minutes after publishing a project.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                    <p class="card-text mb-2">Sam got his sanity back and was so happy with the solution, we then put the report into a web part on the project sites, so all team members could see the “to the minute” status anytime. This has also resulted in much shorter status meetings with everyone updating the report before it’s presented in the meeting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="government" role="tabpanel" aria-labelledby="nav-government">
                    <h2><strong>Government</strong></h2>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                <img src="images/government.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                    <p class="card-text mb-2">Our client in government spent years building vital business reports in SSRS for SharePoint Integrated-Mode, but wanted to migrate to SharePoint Online. With SharePoint Online not providing SSRS, they were at a total crossroads as they could not afford to operate without the business intelligence generated from their reporting.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                    <p class="card-text mb-2">Working closely with the client to understand the essential reports driving their business, we began to build a <a href="/biservicesharepoint">BI Service</a> solution that would ensure business continuity, provide improved efficiency and provide limited development time.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                    <p class="card-text mb-2">As well as seamlessly migrating all existing reports to Online Services and creating a secure connection to their SQL server onsite, our client was able to experience business as usual in record time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="finance" role="tabpanel" aria-labelledby="nav-finance">
                    <h2><strong>Finance</strong></h2>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                <img src="images/finance.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                    <p class="card-text mb-2">Working in finance, as well as helping to resolve issues, Michael also sends his customers an issue status report every week. This detailed report is collated in Excel individually for each customer and emailed individually to them. The reporting process had become unmanageable, taking up nearly just as much time as getting issues resolved.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                    <p class="card-text mb-2">Michael’s issue is not uncommon and was the perfect candidate for our support ticketing system, which uses a SQL database to store the issue and customer contact data, then generate reports. So we created an SSRS report for <a href="/biservicesharepoint">BI Service</a> and a data driven subscription.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                    <p class="card-text mb-2">This flexible reporting solution means Michael’s customer issue status reports are now completely automated. This has saved him numerous hours of tedious work each week and enabled him to get back to helping his customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="mining" role="tabpanel" aria-labelledby="nav-mining">
                    <h2><strong>Mining</strong></h2>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                <img src="images/mining.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                    <p class="card-text mb-2">Enable our client in the mining industry to easily print their Power BI dashboard and score card data, especially when there is more than one page of information.</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                    <p class="card-text mb-2">By employing <a href="/biservicesharepoint">BI Service by ThorApps</a> the client was able to generate paginated reports via the free Visual Studio community edition. They were then more easily able to present reports as both a dashboard in SharePoint online and print the paginated reports (to PDF or Printer).</p>
                                    <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                    <p class="card-text mb-2">No more battling with Power BI printouts! Using the <a href="/biservicesharepoint">BI Service</a> app now means anyone can not only page through their report pages, but also export their report to PDF for printing.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contactFrag" class="price-wrap pt-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-7">
                <ContactDetail />
            </div>
        </div>
    </div>
</section>