@page "/caseStudies"
    <section class="section section-concept section-no-border section-dark section-angled section-angled-reverse pt-5 m-0" style="background-image: url(img/landing/header_bg.jpg); background-size: cover; background-position: center; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards; min-height: 645px;">
        <div class="section-angled-layer-bottom section-angled-layer-increase-angle bg-light" style="padding: 8rem 0;"></div>
        <div class="container pt-lg-5 mt-5">
            <div class="row pt-3 pb-lg-0 pb-xl-0">
                <div class="col-lg-6 pt-4 mb-5 mb-lg-0">
                    <h1 class="font-weight-bold text-10 text-xl-12 line-height-2 mb-3">CASE STUDIES</h1>
                    <p class="font-weight-light opacity-7 pb-2 mb-4">Get to know how companies from several industries are increasing their productivity with our apps</p>
                    <a href="#cstudies" data-hash data-hash-offset="0" data-hash-offset-lg="100" class="btn btn-gradient-primary btn-effect-4 font-weight-semi-bold px-4 btn-py-2 text-3">View cases<i class="fas fa-arrow-down ms-1"></i></a>
                </div>

            </div>
        </div>
    </section>

    <div id="cstudies" class="container py-2">
        <div class="row">
            <div class="col">
                <h4 class="mb-4">Case studies</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="tabs tabs-vertical tabs-left tabs-navigation">
                            <ul class="nav nav-tabs col-sm-3">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tabsNavigation1" data-bs-toggle="tab"><i class="fas fa-users"></i> Education</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation2" data-bs-toggle="tab"><i class="fas fa-file"></i> Health</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation3" data-bs-toggle="tab"><i class="fab fa-google-plus-g"></i> Utilities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation4" data-bs-toggle="tab"><i class="fas fa-adjust"></i> Government</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation5" data-bs-toggle="tab"><i class="fas fa-film"></i> Finance</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation6" data-bs-toggle="tab"><i class="fas fa-user"></i> Mining</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-pane tab-pane-navigation active" id="tabsNavigation1">
                            <h2><strong>Education</strong></h2>
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-lg-4">
                                        <img src="img/education.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <h5>CHALLENGE</h5>
                                            <p>Our client in the education sector had been tracking absences by school in SharePoint Online. The list has several lookup fields for other related information. The information needs to be reported upon and charts created to show performance against targets.</p>
                                            <h5>SOLUTION</h5>
                                            <p>After close consultation with the client we implemented ThorApps Online Services, making use of the BI Service we were able to create an automated multi-page report with charts detailing performance against target.</p>
                                            <h5>RESULT</h5>
                                            <p>The client was able to get automated reports to ensure that absence was effectively tracked and reported to ensure that targets were met or exceeded.</p>
                                            <a href="/" class="read-more text-color-primary font-weight-semibold text-2">BI SERVICE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation2">
                            <h2><strong>Health</strong></h2>
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-lg-4">
                                        <img src="img/health.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                            <p class="card-text mb-2">Our client working in the health sector, Sandra was responsible for approving timesheets each week, but had the unenviable task of having to chase up staff who needed constant reminding to submit their documentation. She wanted to find a way she could avoid having to personally phone each one of them individually.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                            <p class="card-text mb-2">When we met with Sandra, it didn’t take long to see just how time consuming this process had become. We used the BI Service subscription features and created the “hasslebot”, the hassle you have when you’re not having to hassle.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                            <p class="card-text mb-2">A clever report now runs behind the scenes without Sandra having to lift a finger. This then runs an email every Monday morning at 10am to ONLY the staff that have not submitted their timesheet. Not only did this take only 15 minutes to setup, the best part is that 95% of the company’s timesheets are now being submitted on time.</p>
                                            <a href="/" class="read-more text-color-primary font-weight-semibold text-2">BI SERVICE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation3">
                            <h2><strong>Utilities</strong></h2>
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-lg-4">
                                        <img src="img/utilities.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                            <p class="card-text mb-2">Sam is a project manager working in utilities, using Project Online. He runs daily project status meetings and had to manually collate information from project schedules and lists in project workspace sites. This was taking Sam an inordinate amount of time, and even with all that effort, he could only ever see day old information.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                            <p class="card-text mb-2">We created Sam a single status report for each project that was updated to the minute, so he could focus on problem areas. Using BI Service and Project Sync Service, we created a PoP report (Project on a Page). His Issue, Risk and Change Request information became available immediately and Project Schedule information a few minutes after publishing a project.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                            <p class="card-text mb-2">Sam got his sanity back and was so happy with the solution, we then put the report into a web part on the project sites, so all team members could see the “to the minute” status anytime. This has also resulted in much shorter status meetings with everyone updating the report before it’s presented in the meeting.</p>
                                            <a href="/" class="read-more text-color-primary font-weight-semibold text-2">BI SERVICE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation4">
                            <h2><strong>Government</strong></h2>
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-lg-4">
                                        <img src="img/government.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                            <p class="card-text mb-2">Our client in government spent years building vital business reports in SSRS for SharePoint Integrated-Mode, but wanted to migrate to SharePoint Online. With SharePoint Online not providing SSRS, they were at a total crossroads as they could not afford to operate without the business intelligence generated from their reporting.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                            <p class="card-text mb-2">Working closely with the client to understand the essential reports driving their business, we began to build a BI Service solution that would ensure business continuity, provide improved efficiency and provide limited development time.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                            <p class="card-text mb-2">As well as seamlessly migrating all existing reports to Online Services and creating a secure connection to their SQL server onsite, our client was able to experience business as usual in record time.</p>
                                            <a href="/" class="read-more text-color-primary font-weight-semibold text-2">BI SERVICE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation5">
                            <h2><strong>Finance</strong></h2>
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-lg-4">
                                        <img src="img/finance.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                            <p class="card-text mb-2">Working in finance, as well as helping to resolve issues, Michael also sends his customers an issue status report every week. This detailed report is collated in Excel individually for each customer and emailed individually to them. The reporting process had become unmanageable, taking up nearly just as much time as getting issues resolved.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                            <p class="card-text mb-2">Michael’s issue is not uncommon and was the perfect candidate for our support ticketing system, which uses a SQL database to store the issue and customer contact data, then generate reports. So we created an SSRS report for BI Service and a data driven subscription.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                            <p class="card-text mb-2">This flexible reporting solution means Michael’s customer issue status reports are now completely automated. This has saved him numerous hours of tedious work each week and enabled him to get back to helping his customers.</p>
                                            <a href="/" class="read-more text-color-primary font-weight-semibold text-2">BI SERVICE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation6">
                            <h2><strong>Mining</strong></h2>
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-lg-4">
                                        <img src="img/mining.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">CHALLENGE</h5>
                                            <p class="card-text mb-2">Enable our client in the mining industry to easily print their Power BI dashboard and score card data, especially when there is more than one page of information.</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">SOLUTION</h5>
                                            <p class="card-text mb-2">By employing BI Service by ThorApps the client was able to generate paginated reports via the free Visual Studio community edition. They were then more easily able to present reports as both a dashboard in SharePoint online and print the paginated reports (to PDF or Printer).</p>
                                            <h5 class="card-title mb-1 text-4 font-weight-bold">RESULT</h5>
                                            <p class="card-text mb-2">No more battling with Power BI printouts! Using the BI Service app now means anyone can not only page through their report pages, but also export their report to PDF for printing.</p>
                                            <a href="/" class="read-more text-color-primary font-weight-semibold text-2">BI SERVICE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @code {

    }
