@page "/contactUs"

<section class="py-7 position-relative" style="background-image: url(images/bg/10.jpg);background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto text-center z-index-9">
                <h2 class="text-white">CONTACT US</h2>
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-7">
				<ContactDetail/>
			</div>

			<div class="col-lg-5 ps-lg-3">
				<div class="row g-4">
					<div class="col-lg-10">
						<div class="shadow p-4 rounded-3 mb-4">
							<h6>Main office</h6>
							
							<div class="vstack gap-3">
								<div class="fw-bold"><i class="bi bi-geo-alt text-warning me-2 fa-fw"></i>ABN 40 156 405 275</div>
								
								<div class="text-primary-hover fw-bold">
									<a href="#" class="text-body"><i class="bi bi-envelope text-warning me-2 fa-fw"></i>support@thorapps.com</a>
								</div>
								
								<div class="text-primary-hover fw-bold">
									<a href="#" class="text-body"><i class="bi bi-envelope text-warning me-2 fa-fw"></i>info@thorapps.com</a>
								</div>
								
								<div class="text-primary-hover fw-bold">
									<a href="#" class="text-body"><i class="bi bi-telephone-plus me-2 text-warning fa-fw"></i>+61 455 249 407</a>  
								</div>
							</div>          
						</div>		
						</div>
					</div>

					<div class="col-12 col-lg-2">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link icon-md rounded-circle p-0 fs-6 me-2 me-lg-0 mb-lg-3 bg-facebook" href="#">
									<i class="fab fa-facebook-f fa-fw"></i></a>
							</li>

							<li class="nav-item"> 
								<a class="nav-link icon-md rounded-circle p-0 fs-6 me-2 me-lg-0 mb-lg-3 bg-twitter" href="#">
									<i class="fab fa-twitter fa-fw"></i></a>
							</li>

							<li class="nav-item"> 
								<a class="nav-link icon-md rounded-circle p-0 fs-6 me-2 me-lg-0 mb-lg-3 bg-whatsapp" href="#">
									<i class="fab fa-whatsapp fa-fw"></i></a>
							</li>

							<li class="nav-item">
								 <a class="nav-link icon-md rounded-circle p-0 fs-6 me-2 me-lg-0 mb-lg-3 bg-linkedin" href="#">
									 <i class="fab fa-linkedin-in fa-fw"></i></a>
							</li>
							
							<li class="nav-item"> 
								<a class="nav-link icon-md rounded-circle p-0 fs-6 me-2 me-lg-0 mb-lg-3 bg-instagram-gradient" href="#">
									<i class="fab fa-instagram fa-fw"></i></a>
							</li> 
						</ul>
					</div>
				</div>
			</div>
		</div>
</section>
