@using  System.ComponentModel
@using ThorApps.Services
@inject IJSRuntime JS

@if (contact != null)
{
    if (!string.IsNullOrEmpty(MessageStatus))
    {
        <div class="alert alert-success text-black">
            <p><em>@MessageStatus</em></p>
        </div>
    }
    <EditForm Model=contact OnValidSubmit=Save class="row g-3">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-md-6">
            <label class="form-label">First name</label>
            <InputText @bind-Value="contact.FirstName" class="form-control"></InputText>
        </div>
        <div class="col-md-6">
            <label class="form-label">Last name</label>
            <InputText @bind-Value="contact.LastName" class="form-control"></InputText>
        </div>
        <div class="col-md-6">
            <label class="form-label">Email </label>
            <InputText @bind-Value="contact.Email" class="form-control"></InputText>
        </div>
        <div class="col-md-6">
            <label class="form-label">Job title </label>
            <InputText @bind-Value="contact.JobTitle" class="form-control"></InputText>
        </div>
        <div class="col-md-6">
            <label class="form-label">Phone number </label>
            <InputText @bind-Value="contact.Phone" class="form-control"></InputText>
        </div>
        <div class="col-md-6">
            <label class="form-label">Country </label>
            <InputText @bind-Value="contact.Country" class="form-control"></InputText>
        </div>
        <div class="col-md-12">
            <label class="form-label">Company </label>
            <InputText @bind-Value="contact.Company" class="form-control"></InputText>
        </div>
        <div class="col-12">
            <label class="form-label">Message</label>
            <InputTextArea @bind-Value="contact.Message" class="form-control" rows="3"></InputTextArea>
        </div>
        <div class="col-md-12">
            <div id="recaptcha_container"></div>
            <br />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary mb-0">@ButtonTitle</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public string Product { get; set; } = "General";
    [Parameter]
    public string ButtonTitle { get; set; } = "Send message";
    [Parameter]
    public string SuccessMessage { get; set; } = "Thank you for contacting ThorApps.";

    ContactModel contact = new();

    private int WidgetId;
    string MessageStatus = string.Empty;

    public string reCAPTCHA_response;
    string googleApiKey = "Your API key";

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    await JS.InvokeVoidAsync("loadScript", "https://www.google.com/recaptcha/api.js");

    //    await JS.InvokeVoidAsync("loadScript", "js/JsOfReCAPTCHA.js");

    //    if (firstRender)
    //    {
    //        WidgetId = await JS.InvokeAsync<int>("render_recaptcha", DotNetObjectReference.Create(this), "recaptcha_container", googleApiKey);
    //    }

    //    await base.OnAfterRenderAsync(firstRender);
    //}

    async void Save()
    {
        //write code here to save this data
        MessageStatus = string.Empty;
        await EmailSender.SendEmailAsync(contact.Email, Product, contact.Message + "\n" + contact.Company);
        MessageStatus = SuccessMessage;
        contact = new ContactModel();
        StateHasChanged();
    }


    [JSInvokable, EditorBrowsable(EditorBrowsableState.Never)]
    public void CallbackOnSuccess(string response)
    {
        reCAPTCHA_response = response;
    }

    [JSInvokable, EditorBrowsable(EditorBrowsableState.Never)]
    public void CallbackOnExpired()
    {
    }
}