@page "/contactUs"

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="text-dark font-weight-bold text-8">
                    Get in touch to request a quote or learn more about our apps
                </h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center">
                    <li class="active">Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container py-4">

    <div class="row">
        <div class="col">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-0">
                    <div class="post-content ms-0">
                        <div class="row justify-content-center my-5">
                            <EditForm Model="contact" class="form-horizontal" OnValidSubmit="SubmitDetails">
                                <div class="form-group mb-2">
                                    <InputText class="col-md-4" @bind-Value="contact.FirstName" placeholder="First name"></InputText>
                                    <InputText class="col-md-4" @bind-Value="contact.LastName" placeholder="Last name"></InputText>
                                </div>
                                <div class="form-group mb-2">
                                    <InputText class="col-md-8" @bind-Value="contact.Email" placeholder="Email"></InputText>
                                </div>
                                <div class="form-group mb-2">
                                    <InputText class="col-md-4" @bind-Value="contact.JobTitle" placeholder="Job title"></InputText>
                                    <InputText class="col-md-4" @bind-Value="contact.Phone" placeholder="Phone"></InputText>
                                </div>
                                <div class="form-group mb-2">
                                    <InputText class="col-md-4" @bind-Value="contact.Company" placeholder="Company"></InputText>
                                    <InputText class="col-md-4" @bind-Value="contact.Country" placeholder="Country"></InputText>
                                </div>
                                <div class="form-group mb-2">
                                    <InputTextArea class="col-md-8" @bind-Value="contact.Message" placeholder="Add your message"></InputTextArea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>

</div>

@code {
    Contact contact = new();

    void SubmitDetails()
    {

    }

    class Contact
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Email { get; set; }
        public string JobTitle { get; set; }
        public string Phone { get; set; }
        public string Company { get; set; }
        public string Country { get; set; }
        public string Message { get; set; }
    }
}
