@page "/"
@inject IJSRuntime JSRuntime
@using ThorApps.Pages.HomeComponents 

<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover show-dots-xs nav-style-1 nav-inside nav-inside-plus nav-dark nav-lg nav-font-size-lg show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 10000}" data-dynamic-height="['650px','650px','650px','550px','500px']" style="height: 650px;">
    <div class="owl-stage-outer">
        <div class="owl-stage">

            <!-- Carousel Slide 1 -->
            <div class="owl-item position-relative" style="background-image: url(img/slides/slide-corporate-3-1.jpg); background-size: cover; background-position: center;">
                <div class="container position-relative z-index-1 h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6 text-center">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <h3 class="position-relative text-color-dark text-5 line-height-5 font-weight-medium ls-0 px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                    <span class="position-absolute right-100pct top-50pct transform3dy-n50">
                                        <img src="img/slides/slide-title-border-light.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                    CONNECTING PEOPLE
                                    TO <span class="position-relative">
                                        DATA
                                        <span class="position-absolute left-50pct transform3dx-n50 top-0 mt-4">
                                            <img src="img/slides/slide-blue-line.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                        </span>
                                    </span>
                                    <span class="position-absolute left-100pct top-50pct transform3dy-n50">
                                        <img src="img/slides/slide-title-border-light.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                </h3>
                                <p class="text-4-5 text-color-dark font-weight-light mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0}">We streamline the way insight-driven companies experience SharePoint and other Microsoft products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Second-->
            <div class="owl-item position-relative" style="background-image: url(img/slides/slide-corporate-3-1.jpg); background-size: cover; background-position: center;">
                <div class="container position-relative z-index-1 h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6 text-center">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <h3 class="position-relative text-color-dark text-5 line-height-5 font-weight-medium ls-0 px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                    <span class="position-absolute right-100pct top-50pct transform3dy-n50">
                                        <img src="img/slides/slide-title-border-light.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                    CONNECTING PEOPLE
                                    TO <span class="position-relative">
                                        DATA
                                        <span class="position-absolute left-50pct transform3dx-n50 top-0 mt-4">
                                            <img src="img/slides/slide-blue-line.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                        </span>
                                    </span>
                                    <span class="position-absolute left-100pct top-50pct transform3dy-n50">
                                        <img src="img/slides/slide-title-border-light.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                </h3>
                                <p class="text-4-5 text-color-dark font-weight-light mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0}">We streamline the way insight-driven companies experience SharePoint and other Microsoft products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="owl-nav">
        <button type="button" role="presentation" class="owl-prev"></button>
        <button type="button" role="presentation" class="owl-next"></button>
    </div>
    <div class="owl-dots mb-5">
        <button role="button" class="owl-dot active"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
    </div>
</div>
<Products/>
<Testimonials/>
<OurClients/>
<ContactUs/>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/jquery/jquery.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/jquery.appear/jquery.appear.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/jquery.easing/jquery.easing.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/jquery.cookie/jquery.cookie.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/bootstrap/js/bootstrap.bundle.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/jquery.validation/jquery.validate.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/jquery.gmap/jquery.gmap.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/lazysizes/lazysizes.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/isotope/jquery.isotope.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/owl.carousel/owl.carousel.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/magnific-popup/jquery.magnific-popup.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/vide/jquery.vide.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendor/vivus/vivus.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/theme.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/views/view.contact.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/theme.init.js");
        }
    }
}
