@page "/"

<section class="bg-primary position-relative">
    <div class="container">
        <div class="row align-items-center mb-2">

            <div class="col-lg-5 z-index-9">
                <h1 class="text-white">CONNECTING PEOPLE TO DATA</h1>
                <p class="text-white mb-0">We streamline the way insight-driven companies experience SharePoint and other Microsoft products</p>
                <div class="my-4">
                    <a class="btn btn-primary mb-0" href="#contactUs">Get demo</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row g-4">
                    <div class="col-lg-4 mt-auto position-relative">
                        <img src="images/bg/02.jpg" class="rounded-3 mb-0 mb-lg-9 mt-5 mt-lg-0 position-relative" alt="hero">
                    </div>
                    <div class="col-lg-8 position-relative">
                        <div class="position-relative">
                            <img src="images/bg/01.jpg" class="rounded-top-right-10" alt="hero">
                        </div>
                        <div class="col-7 position-absolute top-0 start-0 ms-n9 d-none d-lg-block">
                            <div class="bg-white rounded-3 position-relative py-3 px-4">
                                <h6>Try for free</h6>
                                <p class="mb-0">Get 30 days free trial. No card is required.</p>
                                <div class="icon-md bg-dark-soft bg text-dark rounded-circle position-absolute top-0 start-100 translate-middle">
                                    <a class="btn btn-secondary mb-0" href="#contactUs"><i class="fa fa-mail-bulk fs-6"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container position-relative">
        <div class="row g-4">
            <div class="col-md-6 col-xl-4  d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <img class="card-img-top" src="/images/dashboard.jpg" alt="BI SERVICE" />
                    <span class="align-items-center"><a href="/biservicesharepoint" class="btn btn-primary">BI SERVICE</a></span>
                    <p><h6 class="mb-3">Real-time collaboration for BI reports in SharePoint Online</h6></p>
                    <p class="card-text">Get immediate access to your data from different sources using SQL Server Reporting in a format that works for you. Create, export and schedule stunning dashboards and get actionable insights at your fingertips.</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4  d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <img class="card-img-top" src="/images/sharepoint.jpg" alt="LIST SYNC" />
                    <span class="align-items-center"><a href="/listsyncsharepoint" class="btn btn-primary">LIST SYNC</a></span>
                    <p><h6 class="mb-3">Replicate your list items to SQL in real-time in SharePoint Online</h6></p>
                    <p class="card-text">Gain immediate access to all of your SharePoint lists in one place. With data collated and stored in SQL, you’ll be running reports in a fraction of the time.</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4  d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <img class="card-img-top" src="/images/projectManagement.jpg" alt="PROJECT SYNC" />
                    <span class="align-items-center"><a href="/projectsynconline" class="btn btn-primary">PROJECT SYNC</a></span>
                    <p><h6 class="mb-3">Access all your entities across Project Online</h6></p>
                    <p class="card-text">Compile a complete picture of your project replicating project entities into SQL database in just a fraction of the time. Be ready for your next meeting, armed with immediate access to accurate data.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center mx-auto">
                <h2 class="mb-3">What people say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tiny-slider arrow-round arrow-gray arrow-hover">
                    <div class="tiny-slider-inner my-3" data-autoplay="true" data-edge="20" data-arrow="true" data-dots="false" data-items-xl="3" data-items-md="2" data-items-sm="1">
                            <div>
                                <div class="card card-body card-bg-scale-border rounded-4 rounded-bottom-right-0 px-3 py-4">
                                    <div class="card-header pb-0">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-3 flex-shrink-1">
                                                <h6 class="mb-1">Simon Newton</h6>
                                                <span class="mb-2 fw-bold small">Parker-Newton</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <ul class="list-inline my-2">
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-half text-warning"></i></li>
                                        </ul>
                                        <p class="card-text">“ThorApps products have consistently delighted our customers; simplicity in design, installation, and configuration belies the powerful nature of the apps and their overwhelming positive impact for the business.”</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-body card-bg-scale-border rounded-4 rounded-bottom-right-0 px-3 py-4">
                                    <div class="card-header pb-0">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-3 flex-shrink-1">
                                                <h6 class="mb-1">Laith Adel</h6>
                                                <span class="mb-2 fw-bold small">EPM Partners</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <ul class="list-inline my-2">
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-half text-warning"></i></li>
                                        </ul>
                                        <p class="card-text">“Reflex Reporting from ThorApps has enabled us to provide our customers with reliable and fast reports in a fraction of the time it used to take.”</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-body card-bg-scale-border rounded-4 rounded-bottom-right-0 px-3 py-4">
                                    <div class="card-header pb-0">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-3 flex-shrink-1">
                                                <h6 class="mb-1">Mariano M.</h6>
                                                <span class="mb-2 fw-bold small">Boston Scientific</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <ul class="list-inline my-2">
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-half text-warning"></i></li>
                                        </ul>
                                        <p class="card-text">"Great App! Easy to use and super user friendly for admins."</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-body card-bg-scale-border rounded-4 rounded-bottom-right-0 px-3 py-4">
                                    <div class="card-header pb-0">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-3 flex-shrink-1">
                                                <h6 class="mb-1">Ali Sabouri</h6>
                                                <span class="mb-2 fw-bold small">IMPAQ International, LLC</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <ul class="list-inline my-2">
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                            <li class="list-inline-item me-0"><i class="bi bi-star-half text-warning"></i></li>
                                        </ul>
                                        <p class="card-text">"Easy to use. Top customer support.Improving quickly."</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary text-primary" id="contactUs">
    <div class="container position-relative">
        <div class="row g-4">
            <h6 class="col-md-12">Get started today! No credit card required.</h6>
            <h4 class="col-md-12">Request your 30-day trial and get $50 credit to test BI Service in your own SharePoint environment</h4>
            <p>
                Upon submitting this form, you will be provided with the installation instructions for BI Service. These instructions will lead you through adding the app to your SharePoint site and provide further links to related documentation.
            </p>
            <ContactDetail />
        </div>
    </div>
</section>