@page "/listsyncsharepoint"

<section class="py-7 position-relative" style="background-image: url(images/thorbackground.webp); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center z-index-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><span class="text-white text-primary-hover">GAIN AGILITY WITH REAL-TIME REPORTING</span></li>
                    </ol>
                </nav>
                <h1 class="text-white">LIST SYNC FOR SHAREPOINT ONLINE</h1>
                <p class="text-white"><small>*NO CREDIT CARD REQUIRED</small></p>
                <Navigate Href="/onpremise#contactFrag" Class="btn btn-primary">START FREE</Navigate>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary">
    <div class="container position-relative">
        <div class="row text-white">
            <div class="col-md-12">
                <p>
                    <h6>
                        Get immediate access to all of your SharePoint lists in one place. With data collated and stored in SQL, you’ll be running amazingly fast reports in a fraction of the time.
                    </h6>
                </p>
            </div>
            <div class="col-md-6">
                <img src="images/microsoftPartner.webp" />
            </div>
            <div class="col-md-6">
                <p>
                    By being a Certified Microsoft Partner we have access to the latest training, resources and dedicated support. This means we are always up-to-date on the latest features, releases and early product information to provide our clients a robust, seamless SharePoint experience.
                </p>
                <p>
                    <a href="https://appsource.microsoft.com/en-us/product/office/WA104381900?tab=Overview"    class="text-white" target="_blank">Check this app on Microsoft App Store>></a>
                </p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-xl-3 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="fa fa-undo"></i>
                    </div>
                    <h6 class="mb-3">Expose data lists in real time</h6>
                    <p class="card-text">
                        Replicate your SharePoint lists items to a SQL database in real-time. Integrate data with your existing reporting systems like BI Service, Power BI or Tableau.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 d-flex align-items-stretch">
                <div class="card card-body shadow  rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-bar-chart-steps"></i>
                    </div>
                    <h6 class="mb-3">Gain efficiency with cross site collection</h6>
                    <p class="card-text">Collates lists items from commonly structured lists into a SQL table from across the site collection. Avoid spending time to understand fields names because they are derived from the list field names.</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-window-desktop"></i>
                    </div>
                    <h6 class="mb-3">Optimize time with easy interface</h6>
                    <p class="card-text">The interface to manage ListSync is in SharePoint, making it easy to configure in just a few clicks.</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <div class="icon-md fs-6 text-primary bg-default">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                    <h6 class="mb-3">Secure Microsoft SQL database</h6>
                    <p class="card-text">ListSync stores the SharePoint list data in a Microsoft SQL Server database. You have the flexibility to choose between Azure SQL database or On-premise SQL Server.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-7 bg-default">
    <div class="container position-relative">
        <div class="row g-4">
            <div class="row d-flex align-items-stretch">
                <div>
                    <div class="tiny-slider arrow-gray arrow-round arrow-hover">
                        <div class="tiny-slider-inner py-7" data-autoplay="true" data-edge="20" data-arrow="true" data-dots="false" data-items-xl="1" data-items-md="1" data-items-sm="1">
                            <div>
                                <div class="card">
                                    <div class="row g-0 d-flex align-content-stretch">
                                        <div class="col-lg-4">
                                            <img src="images/education.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body bg-secondary text-white">
                                                <div class="col-md-12">
                                                    <small class="text-center">CASE STUDIES</small>
                                                </div>
                                                <h6 class="text-center">EDUCATION</h6>
                                                <p>Get to know how companies from this industry are increasing their productivity with ListSync</p>
                                                <a href="/casestudies" class="btn btn-outline-primary">LEARN MORE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="card">
                                    <div class="row g-0 d-flex align-content-stretch">
                                        <div class="col-lg-4">
                                            <img src="images/finance.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body bg-secondary text-white">
                                                <div class="col-md-12">
                                                    <small class="text-center">CASE STUDIES</small>
                                                </div>
                                                <h6 class="text-center">FINANCE</h6>
                                                <p>Get to know how companies from this industry are increasing their productivity with ListSync</p>
                                                <a href="/casestudies" class="btn btn-outline-primary">LEARN MORE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div>
                                <div class="card">
                                    <div class="row g-0 d-flex align-content-stretch">
                                        <div class="col-lg-4">
                                            <img src="images/utilities.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body bg-secondary text-white">
                                                <div class="col-md-12">
                                                    <small class="text-center">CASE STUDIES</small>
                                                </div>
                                                <h6 class="text-center">UTILITIES</h6>
                                                <p>Get to know how companies from this industry are increasing their productivity with ListSync</p>
                                                <a href="/casestudies" class="btn btn-outline-primary">LEARN MORE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="card">
                                    <div class="row g-0 d-flex align-content-stretch">
                                        <div class="col-lg-4">
                                            <img src="images/mining.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body bg-secondary text-white">
                                                <div class="col-md-12">
                                                    <small class="text-center">CASE STUDIES</small>
                                                </div>
                                                <h6 class="text-center">MINING</h6>
                                                <p>Get to know how companies from this industry are increasing their productivity with ListSync</p>
                                                <a href="/casestudies" class="btn btn-outline-primary">LEARN MORE <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="row g-4">
    <a href="https://www.capterra.com/p/189352/ProjectSync/#about"><img src="images/capterra.webp" class="img-thumbnail mx-auto d-block" /></a>
</div>
    </div>
</section>
<section class="bg-secondary-soft">
    <div class="container">
        <div class="row g-4 d-flex align-content-center">
            <h4 class=text-center>WHY LIST SYNC?</h4>
            <p>
                <h6 class="text-center">Forget long-term implementation and complex billing models. We have 5 compelling reasons why you should rely on ListSync:</h6>
            </p>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>1. Get power and flexibility with customized data sets</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        With your SharePoint list items in SQL, you can use SQL to perform the usual joins, filters and aggregations on the server. This gives you the power to create highly customized, small data sets for use in your reporting tools that will transfer over the internet very quickly.
                    </p>
                </div>
            </div>



            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>2. Create as many environments as you need</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        ListSync allows you to create any number of separate environments. This gives you the benefit of following Dev, Test, Production release management processes but also to separate departments from each other (i.e. Sales, Operations, Admin).
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>3. Access data from anywhere, anytime</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        When choosing for ThorApps to host your SQL database, you can fully and securely rely on a cloud service, accessible anywhere in the world, from any device.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5>4. Benefit from compatibility with other apps</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        Storing SharePoint list items in a SQL database allows you to connect many different reporting tools (or integration tools). SQL has been around for a long time and is a supported data source almost everywhere. You are not limited to <a href="/biservicesharepoint">ThorApps BI Service</a>, or Power BI.
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <h5>5. Test for free in your own environment</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        Trialing ListSync for free lets you ensure it meets your specific requirements, using your own data. In addition, the account management features within the app let you track your usage as you go.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container position-relative">
        <h4 class="text-primary text-center">HOW DOES IT WORK?</h4>
        <h6 class="text-center">
            ThorApps offers its own SSRS farms, which is a secured space to store your data.
        </h6>
        <img src="images/ListSync.webp" />
    </div>
</section>
<section  id="contactFrag" class="bg-primary text-primary">
    <div class="container position-relative">
        <div class="row g-4">
            <p class="row text-center"><h6>Get started today! No credit card required.</h6></p>
            <p class="text-center"><h4>Request your 30-day trial and get $50 credit to test ListSync in your own SharePoint environment</h4></p>
            <p>
                Upon submitting this form, you will be provided with the installation instructions for ListSync. These instructions will lead you through adding the app to your SharePoint site and provide further links to related documentation.
            </p>
            <ContactDetail Product="Online apps-List Sync" ButtonTitle="START TRIAL" />
        </div>
    </div>
</section>
@code {

}
