@page "/onpremise"

<section class="py-7 position-relative" style="background-image: url(images/thorbackground.webp); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center z-index-9">
                <h2 class="text-white">ON-PREMISE APPS</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-white mb-0 py-0">
                        <li class="breadcrumb-item text-primary-hover">Make the most from your SharePoint and Project environment</li>
                    </ol>
                </nav>
                <a href="/onpremise#contactFrag" class="btn btn-primary">Request quote</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary">
    <div class="container position-relative">
        <div class="row g-4">
            <div class="col-md-6 col-xl-4 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <img class="card-img-top" src="/images/dashboard.jpg" alt="PROJECT INTEGRATION ENGINE"/>
                    <span class="align-items-center"><a href="" @onclick:preventDefault class="btn btn-primary">PROJECT INTEGRATION ENGINE</a></span>
                    <p><h6 class="mb-3">Project server integration in minutes, not weeks!</h6></p>
                    <p class="card-text">The Project Integration Engine (PIE for short) makes it easy to integrate other systems data into Project Server. Create Projects, Tasks, Resources, Assignments (and more) and keep them in sync with your other systems</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <img class="card-img-top" src="/images/sharepoint.jpg" alt="PROJECT SNAPSHOTS"/>
                    <span class="align-items-center"><a href="" @onclick:preventDefault class="btn btn-primary">PROJECT SNAPSHOTS</a></span>
                    <p><h6 class="mb-3">Snapshot your project now or on a schedule</h6></p>
                    <p class="card-text">Take a Snapshot of your Project as it is at a point in time. Not just the information stored in Project Server, Project Snapshots lets you take snapshots of all information related to your project even from other Line of Business systems.</p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 d-flex align-items-stretch">
                <div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
                    <img class="card-img-top" src="/images/projectManagement.jpg" alt="REFLEX REPORTING"/>
                    <span class="align-items-center"><a href="" @onclick:preventDefault class="btn btn-primary">REFLEX REPORTING</a></span>
                    <p><h6 class="mb-3">Multi-site, real-time SharePoint reporting</h6></p>
                    <p class="card-text">Reflex Reporting makes it easy to produce reports from content in your SharePoint lists. The core function of Reflex Reporting mirrors SharePoint List items into a SQL table in real-time.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contactFrag" class="price-wrap pt-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-7">
                <ContactDetail/>
            </div>
        </div>
    </div>
</section>

@code {

}
