@page "/onPremise"
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark"><strong>ON-PREMISE APPS</strong></h1>
                <span class="sub-title text-dark">Make the most from your SharePoint and Project environment</span>
                <p>
                    <button class="btn btn-primary">Request a Quote</button>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container py-4">

    <div class="row py-3 justify-content-center">
        <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
            <article>
                <div class="row">
                    <div class="col">
                        <a href="#" class="text-decoration-none">
                            <img src="img/generic/generic-corporate-3-1-full.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mb-0"><a href="#" class="text-3 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">Project server integration in minutes, not weeks!</a></h4>
                        <p class="text-2">The Project Integration Engine (PIE for short) makes it easy to integrate other systems data into Project Server. Create Projects, Tasks, Resources, Assignments (and more) and keep them in sync with your other systems</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="250">
            <article>
                <div class="row">
                    <div class="col">
                        <a href="#" class="text-decoration-none">
                            <img src="img/generic/generic-corporate-3-2-full.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mb-0"><a href="#" class="text-3 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">Snapshot your project now or on a schedule</a></h4>
                        <p class="text-2">Take a Snapshot of your Project as it is at a point in time. Not just the information stored in Project Server, Project Snapshots lets you take snapshots of all information related to your project even from other Line of Business systems.</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-sm-8 col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
            <article>
                <div class="row">
                    <div class="col">
                        <a href="#" class="text-decoration-none">
                            <img src="img/generic/generic-corporate-3-3-full.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mb-0"><a href="#" class="text-3 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">Multi-site, real-time SharePoint reporting</a></h4>
                        <p class="text-2">Reflex Reporting makes it easy to produce reports from content in your SharePoint lists. The core function of Reflex Reporting mirrors SharePoint List items into a SQL table in real-time.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>

</div>
<RequestQuote/>
@code {

}
