@page "/pricing"

<section class="py-7 position-relative" style="background-image: url(images/thorbackground.webp); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto text-center z-index-9">
                <ol class="breadcrumb justify-content-center text-white mb-0 py-0">
                    <li class="breadcrumb-item text-primary-hover">ONLINE APPS</li>
                </ol>
                <h2 class="text-white">PAY AS YOU GO</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-white mb-0 py-0">
                        <li class="breadcrumb-item text-primary-hover">We are proud of offering an easy and flexible consumption-based billing model that lets you align your monthly plan to match your business needs. This means you have the flexibility to pay based only on your consumption, similar to a mobile phone plan.</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container position-relative">
        <div class="row g-4">
            <div class="col-md-12 col-xl-8 text-center">
                <p>Create your ThorApps account today and get a $50-plan for free, valid for 30 days. Try out a single product, or trial the full suite of powerful apps to boost your data experience in SharePoint Online.</p>
            </div>
        </div>
    </div>
</section>

<div class="container position-relative">
    <div class="row g-8 justify-content-center table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <div class="bg-light p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="mb-1">TRIAL</h6>
                                    <h5 class="mb-0 plan-price">Free</h5>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="bg-light p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="mb-1">SOLO</h6>
                                    <h5 class="mb-0 plan-price">$ 100</h5>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="alert-primary opacity-3 p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <span class="badge rounded-pill bg-primary-soft text-primary">USED BY <br />68% OF CLIENTS</span>
                                    <h6 class="mb-1">TEAM</h6>
                                    <h5 class="mb-0 plan-price">$ 200</h5>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="bg-light p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="mb-1">BUSINESS</h6>
                                    <h5 class="mb-0 plan-price">$ 400</h5>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="bg-light p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="mb-1">ENTERPRISE</h6>
                                    <i class="fa fa-handshake"></i><br />
                                    <small>* Price negotiated</small>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Valid for 30 days</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>GET $50 FOR FREE</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Unlimited Users</li>
                        </ul>
                    </td>
                    <td>

                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Per month, per tenant</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>GET EXTRA $5 FOR FREE</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Unlimited Users</li>
                        </ul>
                    </td>
                    <td>

                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Per month, per tenant</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>GET EXTRA $20 FOR FREE</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Unlimited Users</li>
                        </ul>
                    </td>
                    <td>

                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Per month, per tenant</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>GET EXTRA $80 FOR FREE</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Unlimited Users</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Per annum, per tenant</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>PREMIUM BONUS</li>
                            <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Unlimited Users</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><h6>BI SERVICE</h6></td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">Contact Us</button></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>Best plan to test your data consumption</td>
                    <td>Best plan to execute approx. <strong>5,200 reports</strong></td>
                    <td>Best plan to execute approx. <strong>11,600 reports</strong></td>
                    <td>Best plan to execute approx. <strong>25,200 reports</strong></td>
                    <td>Best plan to execute approx. <strong>+52,000 reports</strong></td>
                </tr>

                <tr class="bg-secondary text-white">
                    <td>Create and export insighful dashboards</td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                </tr>

                <tr class="bg-secondary text-white">
                    <td>Export, schedule and distribute reports</td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                </tr>

                <tr>
                    <td><h6>LIST SYNC</h6></td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">Contact Us</button></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>Best plan to test your data consumption</td>
                    <td>Best plan to sync approx. <strong>17,000 items</strong></td>
                    <td>Best plan to sync approx. <strong></strong></td>
                    <td>Best plan to sync approx. <strong>82,000 items</strong></td>
                    <td>Best plan to sync approx. <strong>+177,000 items</strong></td>
                </tr>



                <tr class="bg-secondary text-white">
                    <td>Syncronise list data in real-time</td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                </tr>

                <tr class="bg-secondary text-white">
                    <td>Access to Microsoft SQL database</td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                </tr>


                <tr>
                    <td><h6>PROJECT SYNC</h6></td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">GET STARTED</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group list-group-borderless border-0 py-3">
                            <li class="list-group-item"><button class="btn btn-primary">Contact Us</button></li>
                        </ul>
                    </td>
                </tr>

                <tr class="bg-secondary text-white">
                    <td>Replicate project entities into SQL database</td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                    <td><i class="bi-check"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {

}
