@page "/shippinganddelivery"

<section class="py-7 position-relative" style="background-image: url(images/thorbackground.webp); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto text-center z-index-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-white mb-0 py-0">
                        <li class="breadcrumb-item text-primary-hover">LEGAL</li>
                    </ol>
                </nav>
                <h1 class="text-white">SHIPPING & DELIVERY</h1>
            </div>
        </div>
    </div>
</section>
<section class="price-wrap pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <p>
                    Our products and Onlines services are delivered immediately, free of delivery charges.
                </p>
                <p>In most cases you will have downloaded the fully functional version or subscribed to a fully function service before committing to purchase.</p>
                <p>If you decide NOT to purchase, it is your responsibility to remove and un-install our product and/or un-subscribe from our online service.</p>
                <p>We recommend contacting us for assistance if you experience any issues receiving or downloading our products.</p>
            </div>
        </div>
    </div>
</section>