@page "/supportPolicy" 
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="text-dark font-weight-bold text-8">SUPPORT POLICY</h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center">
                    <li class="active">LEGAL</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container py-4">

    <div class="row">
        <div class="col">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-0">
                    <div class="post-content ms-0">
                        <p>
                            We aim to provide, at minimum, next business day response to any support forum query, free of charge. Resolving an issue is dependent on the issue itself and we can only promise our best effort.
                        </p>
                        <h2 class="font-weight-semi-bold"><a href="blog-post.html">Just want to know more about a product?</a></h2>
                        <p>
                            If you have a question about any of our products, please feel free to contact us with your query or get access to our support forum to log your issue and see what others are saying.
                        </p>

                        <h2 class="font-weight-semi-bold"><a href="blog-post.html">Need help with installation or configuration?</a></h2>
                        <p>
                            We provide free support via our support forum with a next business day response.<br />
                            If you feel you need more help please contact us to be referred to one of our trusted service providers who will be more than happy to help.
                        </p>
                        <h2 class="font-weight-semi-bold"><a href="blog-post.html">Are you experiencing technical difficulties?</a></h2>
                        <p>
                            The support forum is a free service and available on request.<br />
                            If you would like to access our support forum, please see our <a href="contactUs">Contact Us</a> page.
                        </p>                        
                    </div>
                </article>

            </div>
        </div>
    </div>

</div>
